@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  scroll-behavior: smooth !important;
}

.ff_poppins {
  font-family: 'Poppins', sans-serif;
}

.ff_inter {
  font-family: 'Inter', sans-serif;
}

.body-bg {
  background-color: #b00000;
}

:root {
  --hover: hover 1s linear infinite;
}

.text_animate {
  -webkit-text-stroke: 2px white;
}

.text_animate:nth-child(1) {
  animation: var(--hover);
}

.text_animate:nth-child(2) {
  animation: var(--hover) .125s;
}

.text_animate:nth-child(3) {
  animation: var(--hover) .25s;
}

.text_animate:nth-child(4) {
  animation: var(--hover) .375s;
}

.text_animate:nth-child(5) {
  animation: var(--hover) .5s;
}

.text_animate:nth-child(6) {
  animation: var(--hover) .675s;
}

.text_animate:nth-child(7) {
  animation: var(--hover) .75s;
}

@keyframes hover {
  0% {
    transform: scale(.5);
    color: white;
    -webkit-text-stroke: 2px #b00000;
  }

  20% {
    transform: scale(1);
    color: #fff;
    -webkit-text-stroke: 3px white;
    filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 3px #fff)drop-shadow(0 0 5px #fff);
  }

  50% {
    transform: scale(.5);
    color: white;
    -webkit-text-stroke: 2px #b00000;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(176, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: #b00000;
  outline: 1px solid #b00000;
}

@media (max-width:374px) {
  .flex_col {
    flex-direction: column !important;
  }
}